.description-container
{
    background-color:gray;
    border-radius: 5px;
}

.description-content
{
    font-size: calc(1px + 2vmin);
    text-align: left;
    padding: 5px;
}

.description-container h2
{
    padding-top: 5px;
    font-size: calc(5px + 2vmin);
}